{% extends 'base.html.twig' %}

{% block title %}Liste des interventions
{% endblock %}

{% block body %}
	<h1>
		Liste des interventions</h1>
	<div class="container intervention-liste">
		<table class="table table-hover">

			<thead>
				<tr>

					<th>Matricule de l'avion</th>
					<th>Type d'intervention</th>
					<th>Début de l'intervention</th>
					<th>Fin de l'intervention</th>
					<th>Commentaire</th>
					<th></th>
				</tr>
			</thead>

			{% if interventions is not empty %}
				{% for intervention in interventions %}
					<tbody>
						<tr>
							<td>
								<a href="{{ path('app_avion', {id: intervention.getAvion.immatriculation}) }}">{{ intervention.getAvion.immatriculation }}</a>
							</td>
							<td>{{ intervention.interventionType }}</td>
							<td>{{ intervention.interventionDateDebut|date('d/m/Y') }}</td>
							<td>{{ intervention.interventionDateFin|date('d/m/Y') }}</td>
							<td>{{ intervention.interventionCommentaire }}</td>
							<td>
								<a href="{{ path('intervention', {id: intervention.id}) }}">Voir détail</a>
							</td>
						</tr>
						<tr></tr>
					</tbody>
				{% endfor %}
			{% else %}
				<p>Aucune intervention trouvé.</p>
			{% endif %}
		</table>

	</div>
{% endblock %}
