{% extends 'base.html.twig' %}

{% block title %}Avion {{avion.immatriculation}}{% endblock %}

{% block body %}
	<style></style>
    {# Partie qui affiche les caractéristiques de l'avion#}
	<div class="container">
		<h1> {%trans%} planeDetail {% endtrans%} {{avion.immatriculation}} </h1>
		<div class="row information">
			<section class="col">
				<h2>{%trans%} planeCompanie {%endtrans%}</h2>
			</section>
			<section class="col">
				<h2>{%trans%} planeStatus {%endtrans%}</h2>
			</section>
		</div>

		<div class="row">
			<section class="col">{{avion.avionCompanie.companieNom}}</section>
			<section class="col">{{avion.avionStatue.statueNom}}</section>
		</div>
	</div>

    {# section pour le formulaire #}
    <div class="container">
        <h1>{%trans%} addAPlane {%endtrans%}</h1>
        {{ form_start(ajoutIntervention) }}
			<div class="row">
				{{ form_row(ajoutIntervention.InterventionDateDebut) }}
				{{ form_row(ajoutIntervention.InterventionDateFin) }}
			</div>
			<div class="mb-3 row">
				{{ form_row(ajoutIntervention.InterventionType) }}

			</div>
			<div class="mb-3 row">
				{{ form_row(ajoutIntervention.InterventionCommentaire) }}

			</div>
        {{ form_end(ajoutIntervention) }}
		{% for label, messages in app.flashes %}
    		{% for message in messages %}
        		<div class="alert alert-{{ label }}">
            		{{ message }}
        		</div>
    		{% endfor %}
		{% endfor %}
    </div>

	{# Partie qui affiche les interventions #}
	<div class="container listes-interventions">
		<h1>{%trans%} historyOfIntervention {%endtrans%}</h1>
		{% if interventions is not empty %}
			<ul>
				{% for intervention in interventions %}
					<li>
						<div class="row">
							<div class="col">
								<strong>{%trans%} intervention.Date.Creation {%endtrans%} :</strong>
								{{ intervention.interventionDateCreation|date('d/m/Y H:i:s') }}
								<br>
							</div>

							<div class="col">
								<strong>{%trans%} intervention.Type {%endtrans%} :</strong>
								{{ intervention.interventionType }}
								<br>
							</div>

						</div>
						<div class="row">

							<div class="col">
								<strong>{%trans%} intervention.Date.Start {%endtrans%}</strong>
								{{ intervention.interventionDateDebut|date('d/m/Y H:i:s') }}
								<br>
							</div>
							<div class="col">
								<strong>{%trans%}intervention.Date.End {%endtrans%}:</strong>
								{{ intervention.interventionDateFin|date('d/m/Y H:i:s') }}
								<br>
							</div>
						</div>
						<div class="col commentaire">
							<strong>{%trans%}intervention.Commentary {%endtrans%} :</strong>
							<div class="col">
								{{ intervention.interventionCommentaire }}
							</div>
						</div>
						<br>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>Aucune intervention trouvée pour cet avion.</p>
		{% endif %}
	</div>
{% endblock %}
