{% extends 'base.html.twig' %}

{% block title %}Hello AvionController!
{% endblock %}

{% block body %}
	<style></style>
    {# Partie qui affiche les caractéristiques de l'avion#}
	<div class="container">
		<h1>Détail de l'avion
			{{avion.immatriculation}}</h1>
		<div class="row information">
			<section class="col">
				<h2>Companie de l'avion</h2>
			</section>
			<section class="col">
				<h2>Status</h2>
			</section>
		</div>

		<div class="row">
			<section class="col">{{avion.avionCompanie.companieNom}}</section>
			<section class="col">{{avion.avionStatue.statueNom}}</section>
		</div>
	</div>

    {# section pour le formulaire #}
    <div class="container mb-3">
        <h1>Ajout d'une intervention</h1>
        {{ form_start(ajoutIntervention) }}
            {{ form_row(ajoutIntervention.InterventionDateDebut) }}
            {{ form_row(ajoutIntervention.InterventionDateFin) }}
            {{ form_row(ajoutIntervention.InterventionType) }}
            {{ form_row(ajoutIntervention.InterventionCommentaire) }}
        {{ form_end(ajoutIntervention) }}
		{% for label, messages in app.flashes %}
    		{% for message in messages %}
        		<div class="alert alert-{{ label }}">
            		{{ message }}
        		</div>
    		{% endfor %}
		{% endfor %}
    </div>

		{# Partie qui affiche les interventions #}
	<div class="container listes-interventions">
		<h1>Historique des interventions</h1>
		{% if interventions is not empty %}
			<ul>
				{% for intervention in interventions %}
					<li>
						<div class="row">
							<div class="col">
								<strong>Date de création de l'intervention :</strong>
								{{ intervention.interventionDateCreation|date('d/m/Y H:i:s') }}
								<br>
							</div>

							<div class="col">
								<strong>Type d'intervention :</strong>
								{{ intervention.interventionType }}
								<br>
							</div>

						</div>
						<div class="row">

							<div class="col">
								<strong>Date de début :</strong>
								{{ intervention.interventionDateDebut|date('d/m/Y H:i:s') }}
								<br>
							</div>
							<div class="col">
								<strong>Date de fin :</strong>
								{{ intervention.interventionDateFin|date('d/m/Y H:i:s') }}
								<br>
							</div>
						</div>
						<div class="col commentaire">
							<strong>Commentaire :</strong>
							<div class="col">
								{{ intervention.interventionCommentaire }}
							</div>
						</div>
						<br>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>Aucune intervention trouvée pour cet avion.</p>
		{% endif %}
	</div>
{% endblock %}
