{% extends 'base.html.twig' %}

{% block title %}Avion index{% endblock %}

{% block body %}
<div class="container">
    <h1>Avion index</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Immatriculation</th>
                <th>Compagnie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for avion in avions %}
            <tr>
                <td>{{ avion.immatriculation }}</td>
                <td>
                    {{ avion.AvionCompanie.CompanieNom}}
                </td>
                <td>
                    <a href="{{ path('app_avion_show', {'immatriculation': avion.immatriculation}) }}">show</a>
                    <a href="{{ path('app_avion_edit', {'immatriculation': avion.immatriculation}) }}">edit</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="navigation">
    <div class="center">
        {{ knp_pagination_render(avions) }}
    </div>
</div>
<a href="{{ path('app_avion_new') }}">Create new</a>
{% endblock %}