{% extends 'base.html.twig' %}

{% block title %}Statues index{% endblock %}

{% block body %}
<main class="container">

    <h1>Statues index</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StatueNom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for statue in statues %}
            <tr>
                <td>{{ statue.id }}</td>
                <td>{{ statue.statueNom }}</td>
                <td>
                    <a href="{{ path('app_statues_show', {'id': statue.id}) }}">show</a>
                    <a href="{{ path('app_statues_edit', {'id': statue.id}) }}">edit</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <a href="{{ path('app_statues_new') }}">Create new</a>
    {{ statues|serialize(format = 'json') }}
</main>
{% endblock %}
